{% extends 'repositorio/base.html' %}

{% block title %} Contacto {% endblock %}

{% block content %}
    <section id="contact" class="contact">
        <div class="contact-card">
            <h3>Let’s craft your escape.</h3>
            <p>Tell us how you want to feel, and we handle the rest.</p>
            <form>
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <button type="submit" class="btn-main">Send Inquiry</button>
            </form>
        </div>
    </section>
{% endblock %}