{% extends 'repositorio/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container" id="produk">
    <h2 style="text-align:center;">Produk Kami</h2>
    <div class="produk">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348">
            <div class="card-content">
                <h3>Kopi Arabika</h3>
                <p>Rasa asam segar dengan aroma harum.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1504754524776-8f4f37790ca0">
            <div class="card-content">
                <h3>Kopi Robusta</h3>
                <p>Rasa kuat dan kandungan kafein tinggi.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085">
            <div class="card-content">
                <h3>Kopi Luwak</h3>
                <p>Kopi premium dengan cita rasa unik.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    
    

    